.containerAbout .textAbout{
   padding: 10px;
   
}

.containerAbout .textAbout .aboutcontent{
    border: 3px dotted blue;
    height: 92vh;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
   align-items: center;
   box-sizing: border-box;
   font-size: 20px;
   flex-direction: column;
}

.containerAbout footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

