.containerLogin{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogin .formcontainer .line{
     width: 100%;
     background-color: rgb(211, 211, 211);
     height: 1px;
     
}
.containerLogin .formcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(218, 218, 218);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    width:  300px;

}

.containerLogin .formcontainer .text h1{
    color: rgb(104, 144, 189);
}

.containerLogin .formcontainer .username , .password{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
  
}


.containerLogin .formcontainer .username input , .password input{
    outline: none;
    border: none;
        transition: all 0.2s ease-out ;
}

.containerLogin .formcontainer .username input:hover{
    border: 2px rgb(104, 144, 189) dotted;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.2s ease-in ;
    border-radius: 5px;
}

.containerLogin .formcontainer .password input:hover{
    border: 2px rgb(104, 144, 189) dotted;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.2s ease-in ;
    border-radius: 5px;
}

.containerLogin .formcontainer  button{
    border: none;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(104, 144, 189);
    color: white;
}

.containerLogin .formcontainer h5{
    font-size: 14px;
    font-weight: 400;
}