.containerRegister{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.containerRegister .formRegister{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
     border: 1px solid rgb(218, 218, 218);
     width: 300px;
    gap: 10px;
        border-radius: 10px;
}
.containerRegister .formRegister .text h1{
    color:  rgb(104, 144, 189);
}
.containerRegister .formRegister .line{
      width: 100%;
     background-color: rgb(211, 211, 211);
     height: 1px;
}
.containerRegister .formRegister .username , .password , .confirmpass{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.containerRegister .formRegister .username input , .password input , .confirmpass input{
    outline: none;
    border: none;
       transition: all 0.2s ease-out ;

}

.containerRegister .formRegister .username input:hover{
 border: 2px rgb(104, 144, 189) dotted;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.2s ease-in ;
    border-radius: 5px;
}

.containerRegister .formRegister .password input:hover{
 border: 2px rgb(104, 144, 189) dotted;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.2s ease-in ;
    border-radius: 5px;
}

.containerRegister .formRegister .confirmpass input:hover{
 border: 2px rgb(104, 144, 189) dotted;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.2s ease-in ;
    border-radius: 5px;
}

.containerRegister .formRegister  button{
     border: none;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(104, 144, 189);
    color: white;
}

.containerRegister .formRegister h5{
      font-size: 14px;
    font-weight: 400;
}