.containerAccount{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.containerAccount .accountContent{
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
     
    gap: 5px;
}

.containerAccount .accountContent .profile{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 100%;
}

.containerAccount .accountContent button{
    padding: 10px;
    border: none;
    border-radius: 6px;  
    background-color: rgb(91, 155, 228);
    color: white;
    
}


